name: web-app

on:
    push:
        branches: ["master", "release"]

    pull_request:
        branches: ["master"]

env:
    CARGO_TERM_COLOR: always

jobs:
    build-docker:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
        steps:
            - uses: actions/checkout@v4
              with:
                  submodules: recursive

            - name: login to GHCR
              uses: docker/login-action@v3
              if: github.event_name != 'pull_request'
              with:
                  registry: ghcr.io
                  username: ${{ github.repository_owner }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: docker meta
              id: meta
              uses: docker/metadata-action@v5
              with:
                  images: |
                      ghcr.io/wolverindev/tucan-exam-explorer
                  tags: |
                      type=ref,event=branch
                      type=sha
              env:
                  DOCKER_METADATA_SHORT_SHA_LENGTH: 7

            - name: build and push
              uses: docker/build-push-action@v6
              with:
                  context: ./web-app/
                  file: ./web-app/Dockerfile
                  push: ${{ github.event_name != 'pull_request' }}
                  tags: ${{ steps.meta.outputs.tags }}
                  labels: ${{ steps.meta.outputs.labels }}